<!DOCTYPE html>
<html lang="en">
  <head>
	<meta charset="utf-8">
	<title>Rocket Science Automator</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">

	<link href="/css/bootstrap.css" rel="stylesheet">
	<link href="/css/styles.css" rel="stylesheet">

	<script type="text/javascript" src="/js/lib/jquery-2.1.1.min.js"></script>
	<script type="text/javascript" src="/js/lib/date.helper.js"></script>
	<script type="text/javascript" src="/js/application.js"></script>

	<link href="/css/bootstrap-responsive.css" rel="stylesheet">

	<link rel="shortcut icon" href="/favicon.ico">
  </head>

  <body>

	<div class="container">

	<img id="logo" src="/img/logo.png" />

	  <div class="routine-run-form">
	  	<select id="routine-run-selection" multiple></select>
		<label class="checkbox">
			<input type="checkbox" id="async" value="1"> Asynchronous Execution
		</label>
		<button class="btn btn-large btn-success" id="routine-run-submit" type="submit">Execute Automation Routine</button>
		<button class="btn btn-large btn-danger" id="shutdown" type="submit">Shutdown</button>
		<div style="clear:left;"></div>
	  </div>

	  <div id="routine-logs"></div>
	</div>


  </body>
</html>
