body {
	padding-top: 40px !important;
	padding-bottom: 40px;
	background-color: #f5f5f5;
}

.routine-run-form, .routine-log {
	width: 390px;
	padding: 20px;
	margin: 0 auto 20px;
	background-color: #fff;
	border: 1px solid #e5e5e5;
	-webkit-border-radius: 5px;
	   -moz-border-radius: 5px;
			border-radius: 5px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
	   -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
			box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

.routine-log {
	width: 550px;
}

.routine-log strong {
	margin-top: -9px;
	display: block;
	margin-bottom: 10px;
}

textarea {
	width: 100%;
	box-sizing: border-box;
	height: 200px;
}

select {
	width: 100%;
}

#shutdown, #routine-run-submit {
	float: left;
}

#shutdown {
	margin-left: 10px;
}

.routine-run-form .checkbox {
	margin-bottom: 10px;
}

#logo {
	display: block;
	margin: auto;
	margin-bottom: 30px;
}

.routine-log-box {
	height: 130px;
}

.routine-log {
	display: none;
}